.game-tile {
    margin: 5px;
}

.image-wrapper {
    min-height: 200px;
}

.game-title{
    font-family: serif;
    font-size: 1.5em;
}

.btn{
    outline: none !important;
}

.invalid-form{
    color: red;
}