<!DOCTYPE html>
<html ng-app="app" ng-controller="controller" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/*@thymesVar id="classActiveHome" type="String"*/-->
<!--/*@thymesVar id="classActiveCreate" type="String"*/-->
<!--/*@thymesVar id="classActiveSettings" type="String"*/-->
<!--/*@thymesVar id="classActiveConfig" type="String"*/-->
<!--/*@thymesVar id="classActiveLog" type="String"*/-->
<!--/*@thymesVar id="links" type="String"*/-->
<!--/*@thymesVar id="gameLinks" type="String"*/-->
<body>
<div th:fragment="body">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="${links.home}">Triton</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li th:class="${classActiveHome}" sec:authorize="isAuthenticated()">
                        <a th:href="${links.home}">Home</a>
                    </li>
                    <li th:class="${classActiveCreate}" sec:authorize="isAuthenticated()">
                        <a th:href="${links.create}">Create</a>
                    </li>
                    <li th:class="${classActiveConfig}" sec:authorize="isAuthenticated()" th:if="${game}">
                        <a th:href="${links.config}">Server Config</a>
                    </li>
                    <li th:class="${classActiveLog}" sec:authorize="isAuthenticated()" th:if="${game}">
                        <a th:href="${links.log}">Server Logs</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li th:class="${classActiveSettings}" sec:authorize="isAuthenticated()"><a
                            th:href="${links.settings}">Settings</a></li>
                    <li><a th:href="@{/logout}" sec:authorize="isAuthenticated()">Log Out</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div style="height:51px;"></div>
</div>
</body>
</html>