<!DOCTYPE HTML>
<!--suppress ThymeleafVariablesResolveInspection -->
<html ng-app="app" ng-controller="controller" xmlns:th="http://www.thymeleaf.org">
<div th:replace="includes/header :: body"></div>

<body>
<div th:replace="fragment/nav :: body"></div>
<div class="container" th:attr="ng-init='getGame(\''+${game.gameName}+'\',\''+${game.serverName}+'\')'">
    <div th:replace="fragment/alert :: body"></div>
    <h1>Configure Server <span th:text="${game.gameName}"></span></h1>
    <div class="well">
        <form id="update-form" class="form-horizontal" ng-submit="updateGame()">
            <div th:replace="fragment/form/server-configure-form :: create(config=true)"></div>
            <div th:replace="fragment/form/add-command :: body"></div>
            <br>
            <input type="submit" class="btn btn-success" value="Update"/>
            <input type="button" class="btn btn-danger" value="Delete Server" ng-click="deleteServer(game)"/>
        </form>
    </div>
</div>
</body>
</html>