<!DOCTYPE HTML>
<html ng-app="app" ng-controller="controller" xmlns:th="http://www.thymeleaf.org">

<div th:replace="includes/header :: body"></div>

<body>

<div th:replace="fragment/nav :: body"></div>
<div class="container">
    <div th:replace="fragment/alert :: body"></div>
    <h1>Add Server</h1>
    <div class="well">
        <form id="create-form" class="form-horizontal" ng-submit="submitAddGame()">
            <div th:replace="fragment/form/server-configure-form :: create"></div>
            <br>
            <div class="form-group">
                <div class="col-sm-2">
                    <input type="submit" class="btn btn-success" value="Create" ng-disabled="!game.gameName || !game.serverName"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>