<!DOCTYPE HTML>
<html ng-app="app" ng-controller="controller" xmlns:th="http://www.thymeleaf.org">

<div th:replace="includes/header :: body"></div>

<body>

<div th:replace="fragment/nav :: body"></div>
<div class="container">
    <div th:replace="fragment/alert :: body"></div>
    <h1>Add Server</h1>
    <div class="well">
        <form id="create-form" class="form-horizontal" ng-submit="submitAddGame()">
            <div class="form-group">
                <label for="game-name" class="col-sm-2">Game Name</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="gameName" class="form-control" id="game-name"
                           placeholder="7 Days to Die"/>
                </div>
                <div class="col-sm-2">
                    <span ng-if="!gameName" class="invalid-form">*required</span>
                </div>

            </div>
            <div class="form-group">
                <label for="server-name" class="col-sm-2">Server Name</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="serverName" class="form-control" id="server-name"
                           placeholder="Server ABC"/>
                </div>
                <div class="col-sm-2">
                    <span ng-if="!serverName" class="invalid-form">*required</span>
                </div>
            </div>
            <div class="form-group">
                <label for="image-url" class="col-sm-2">Image URL</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="imageUrl" class="form-control" id="image-url"
                           placeholder="http://www.website.com/someimage.png"/>
                </div>
            </div>
            <div class="form-group">
                <label for="server-url" class="col-sm-2">Server URL</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="serverUrl" class="form-control" id="server-url"
                           placeholder="localhost"/>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-sm-2">
                    <input type="submit" class="btn btn-success" value="Create" ng-disabled="!gameName || !serverName"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>