<!DOCTYPE HTML>
<html ng-app="app" ng-controller="controller" xmlns:th="http://www.thymeleaf.org">

<div th:replace="includes/header :: body"></div>

<body>

<div th:replace="fragment/nav :: body"></div>
<div class="container">
    <div class="row" style="margin:20px;">
        <a href="#" class="btn btn-info btn-lg" ng-click="getAllGames()">
            <span class="glyphicon glyphicon-refresh"></span> Refresh
        </a>
    </div>

    <div class="row">
        <div class="col-sm-4" ng-repeat="game in allGames" style="margin:0;">
            <div class="well">
                <div class="row">
                    <span ng-bind="game.gameName" class="col-sm-10 game-title"></span>
                    <span class="col-sm-2">
                    <a class="btn btn-sm btn-warning" href="/config/{{game.gameName}}/{{game.serverName}}">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
                </span>
                </div>
                <h4 ng-bind="game.url"></h4>
                <div class="image-wrapper">
                    <img ng-src="{{game.imageUrl}}" style="width: 100%;"/>
                </div>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-btn" ng-repeat="command in game.commands">
                            <input type="button" class="btn btn-default" ng-value="command.name" style="width:100%;"/>
                        </span>
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-default" value="Logs" style="width:100%;"/>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>