<!DOCTYPE HTML>
<html ng-app="app" ng-controller="controller" xmlns:th="http://www.thymeleaf.org">

<div th:replace="includes/header :: body"></div>

<body>

<div th:replace="fragment/nav :: body"></div>
<div class="container">
    <div th:replace="fragment/alert :: body"></div>
    <div class="row" style="margin:20px;">
        <a href="#" class="btn btn-info btn-lg" ng-click="getAllGames()">
            <span class="glyphicon glyphicon-refresh"></span> Refresh
        </a>
    </div>

    <div class="row">
        <div class="col-sm-4" ng-repeat="game in allGames" style="margin:0;">
            <div class="well">
                <div class="row">
                    <span ng-bind="game.gameName" class="col-sm-8 game-title"></span>
                    <span class="col-sm-2">
                        <a class="btn btn-sm btn-warning" href="/{{game.gameName}}/{{game.serverName}}/config">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    </span>
                    <span class="col-sm-2">
                        <a class="btn btn-sm btn-warning" href="/{{game.gameName}}/{{game.serverName}}/log">
                            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                        </a>
                    </span>
                </div>
                <h4 ng-bind="game.url"></h4>
                <div class="image-wrapper">
                    <img ng-src="{{game.imageUrl}}" style="width: 100%;"/>
                </div>
                <div class="row">
                    <label ng-bind="statuses[game.gameName + '/' + game.serverName]" ng-init="getServerStatus(game.gameName, game.serverName)"></label>
                </div>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-btn" ng-repeat="command in game.commands" ng-if="command.shouldShowButton">
                            <input type="button" class="btn btn-default"
                                   ng-value="command.name"
                                   style="width:100%;"
                                   ng-click="runCommand(game, command)"/>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>