<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" ng-app="app" ng-controller="controller">
<body th:fragment="body">
<h3>Server Commands</h3>
<div ng-repeat="command in commands" class="well">
    <div class="form-group">
        <label for="command-name" class="col-sm-2">Name</label>
        <div class="col-sm-8">
            <input type="text" ng-model="command.name" class="form-control" id="command-name"
                   placeholder="Start Server"/>
        </div>
        <div class="col-sm-2">
            <span ng-if="!command.name" class="invalid-form">*required</span>
        </div>
    </div>
    <div class="form-group">
        <label for="command-type" class="col-sm-2">Type</label>
        <div class="col-sm-8">
            <input type="text" ng-model="command.type" class="form-control" id="command-type"
                   placeholder="START,STOP,KILL,CUSTOM"/>
        </div>
        <div class="col-sm-2">
            <span ng-if="!command.type" class="invalid-form">*required</span>
        </div>
    </div>
    <div class="form-group">
        <label for="command-exe" class="col-sm-2">exe</label>
        <div class="col-sm-8">
            <input type="text" ng-model="command.exe" class="form-control" id="command-exe"
                   placeholder="/Users/username/.steamcmd/runnable.sh"/>
        </div>
        <div class="col-sm-2">
            <span ng-if="!command.type" class="invalid-form">*required</span>
        </div>
    </div>
</div>
</body>
<body th:fragment="add">
<div>
    <input type="button" id="Add Command" value="Add Command" class="btn btn-info" ng-click="addCommand()"/>
</div>
</body>
</html>