<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="body">
    <title>Home - Triton Server Manager</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js}"></script>
    <script th:src="@{/res/js/controller.js}"></script>
    <script th:src="@{/res/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/res/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/res/bootstrap/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/res/style/common.css}">
</head>
</html>